doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MeowLocator
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    body
        .container
            h1 Welcome to MeowLocator
            nav
                ul.nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='') Report Found Cat
                    li.nav-item
                        a.nav-link(href='') View Found Cats
            p This site helps to report and find lost cats.
